body {
  background: url(../assets/bkg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.btn-default {
  background-color: #64576b !important;

  color: #64576b;

  border-color: #2f3e48;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #2f3e48;

  color: #fff;

  border-color: #31347b;
}
