.Card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgb(0, 0,0,0.125);
    border-radius: 0.25;
}
.medium{
    color: #bbe1fa;
}

.listGroupItem{
    background-color: #0f4c75
}